:root {  
  --pink: #bf3b53;
  --dkpink: #733641;
  --blue: #7799A6;
  --yellow: #f2e399;
  --orange: #f29877;
  --white: #f7f8fa;
  --gray: #5d5c5c;
  --font-size: 1.3rem;
  --lexend: "Lexend Deca", sans-serif;
  --nunito: "Nunito", sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: var(--lexend);
  background-color: var(--dkpink);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--yellow);
}

a:hover {
  color: var(--orange);
  text-decoration: none;
}

img {
  width: 100%;
}
